.event-timetable {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.event-timetable-message {
  flex: 0 1 auto;
  padding: .5em 0;
  font-size: 5vmin;
  text-align: center;
}

.event-timetable-entries {
  flex: 2 1;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  padding-bottom: 1rem; // Just to offset the content so the clock won't block it
}

// TODO: Refactor this.
.event-timetable-entry {
  box-sizing: content-box; // We can add padding without it taking up inner space
  flex: 0 1 8vmin;
  display: flex;
  flex-flow: column;
  padding: 1rem 0;
  justify-content: center;

  &.-ongoing {
    background: $ait-color-blue;
    color: white;
  }
}

.event-timetable-entry-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 3vmin;
  transition: all .2s ease-in-out;

  > div {
    flex: 1 0;
    padding: 0 .5em;
  }

  > .event-timetable-entry-info {
    flex: 2 1;
    padding: .5em;
    // 100vw / 2 / 6 * 4
    //flex-basis: 0%;
  }
}

.event-timetable-entry-subtitle,
.event-timetable-entry-speaker,
.event-timetable-entry-location {
  font-size: .8em;
}

.event-timetable-entry-location {
  &:before {
    content: "// ";
  }
}
