.timealert {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 100%;
  height: 100vh;
  color: white;
  text-align: center;
}

.timealert-inner {
  position: relative;
  padding: 10%;

  &:after {
    // Used to counter the h1's size so flexbox makes the countdown sit at the perfect vertical center
    content: "T";
    font-size: 1.3em;
    line-height: 1;
    opacity: 0;
    visibility: hidden;
  }
}

.timealert-title {
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1;
  opacity: 0;
}

.timealert-countdown {
  font-size: 6rem;
  line-height: 1;
  opacity: 0;
}

.timealert-svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  transition: all .3s ease-in-out;
  //animation: breathe ease-in-out 10s infinite alternate;
}
