// bower:scss
// endbower

// Import the default styling
@import "default/default";

// Specific pages
@import "variables";
@import "animations";
@import "time";
@import "gallery";
@import "timealert";
@import "announcement";


html {
  height: 100%; // Fallback for older Android inbuilt browsers
}

body {
  // For some reason the RiseVision player renders the page as a black page.
  background: white;
  // Considering this will only be rolled out on static screens, this is okay.
  overflow: hidden;

  &:after {
    content: "Loading...";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    font-size: 2.5em;
    opacity: 1;
    transition: all .2s ease-in-out;
    z-index: 1;
  }

  &.loaded:after {
    opacity: 0;
  }

  &.loadfail:after {
    content: "Loading failed.";
  }

  &.testing:after {
    content: "We will be right back after this break.";
    opacity: 1 !important;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
